<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo app </title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.css' %}">
</head>
<h1>Reminder</h1>
<h2>My plans</h2>
{% for f in f%}
<ul>
    <li>
        {{f}}
    </li>
</ul>
{% endfor %}
<form method="GET" action="/add">
    <button type="submit">Add</button>
</form>

<body>

</body>

</html>